.emacs-theme
auto-save-list/
config.el
elpa/
network-security.data
projectile-bookmarks.eld
var/
session.*
eshell/
ido.last
ac-comphist.dat
history
recentf
custom.el
transient/
forge-database.sqlite
bookmarks